asgiref==3.11.0
brotli==1.2.0
dj-database-url==3.1.0
Django==6.0.1
grpcio==1.76.0
gunicorn==23.0.0
numpy==2.4.1
packaging==25.0
pandas==2.3.3
pillow==12.1.0
protobuf==5.29.0
pyarrow==23.0.0
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2025.3
websocket-client==1.9.0
whitenoise==6.11.0
ztdata==0.3.15
