{% extends 'base.html' %}
{% block title %}Productos Laborales - {{ perfil.datos_personales.nombres }}{% endblock %}
{% block content %}
<h2 class="section-title text-primary"><i class="bi bi-rocket-takeoff-fill me-2"></i> Productos Laborales</h2>
{% if perfil.productos_laborales.all %}
<ul class="list-group shadow-sm">
    {% for prodlab in perfil.productos_laborales.all %}
    <li class="list-group-item">
        <strong>ID Producto Laboral:</strong> {{ prodlab.id_producto_laboral }}<br>
        <strong>ID Perfil activo:</strong> {{ prodlab.perfil.id }}<br>
        <strong>Nombre del producto:</strong> {{ prodlab.nombre_producto }}<br>
        <strong>Fecha del producto:</strong> {{ prodlab.fecha_producto }}<br>
        <strong>Descripción:</strong> {{ prodlab.descripcion }}<br>
        <strong>Activar para que se vea en front:</strong> {{ prodlab.activo|yesno:"Sí,No" }}
    </li>
    {% endfor %}
</ul>
{% else %}
<p class="text-muted">No hay productos laborales registrados.</p>
{% endif %}
{% endblock %}